{% extends "public/base.html" %}
{% load static %}

{% block title %}Password Reset Sent - HookProbe{% endblock %}

{% block content %}

<!-- Main -->
<div id="main" class="alt">

    <!-- Banner -->
    <section id="banner" class="style2">
        <div class="inner">
            <header class="major">
                <h1>Check Your Email</h1>
            </header>
            <div class="content">
                <p>Password reset instructions have been sent</p>
            </div>
        </div>
    </section>

    <!-- Confirmation -->
    <section id="confirmation" class="wrapper">
        <div class="inner">
            <div class="row">
                <div class="col-8 col-12-medium">
                    <div class="box">
                        <span class="icon solid major fa-envelope"></span>
                        <h3>Email Sent!</h3>
                        <p>We've sent password reset instructions to your email address. Please check your inbox and follow the link to reset your password.</p>
                        <p>If you don't receive an email within a few minutes:</p>
                        <ul>
                            <li>Check your spam or junk folder</li>
                            <li>Make sure you entered the correct email address</li>
                            <li>Contact support if you continue to have issues</li>
                        </ul>
                        <ul class="actions">
                            <li><a href="{% url 'login' %}" class="button primary">Return to Login</a></li>
                            <li><a href="{% url 'password_reset' %}" class="button">Try Again</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}
